<%- include('includes/header')%>
    <%- include('includes/nav')%>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Contatos</h1>
                    <p class="text-center lead">Crie ou edite seus contatos abaixo</p>

                    <%- include('includes/mensagens')%>
                        <form action="/contatos/criar" method="POST">
                            <div class="form-group">
                                <label>Nome</label>
                                <input value="<%= contato.nome%>" name="nome" type="text" class="form-control"
                                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Sobrenome</label>
                                <input value="<%= contato.sobrenome %>" name="sobrenome" type="text" class="form-control"
                                    id="exampleInputPassword1" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input value="<%= contato.email %>" name="email" type="text" class="form-control"
                                    id="exampleInputPassword1" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Telefone</label>
                                <input value="<%= contato.telefone %>" name="telefone" type="text" class="form-control"
                                    id="exampleInputPassword1" placeholder="">
                            </div>

                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </form>

                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>

        <%- include('includes/footer')%>